
puremindgui/script/robot_gui\.spec

puremindgui/script/__pycache__/

puremindgui/script/build/

puremindgui/script/dist/

puremindgui/script/util/__pycache__/

*.pyc

puremindgui/script/robot-tools\.spec

puremindgui/script/launcher\.spec
